<!-- _includes/footer.html -->
<div class="left-links">
  <div class="info">
    <a href="/photo.html"{% if page.active == "photo" %} class="active"{% endif %}>photo</a>
  </div>
  <div class="info">
    <a href="/exhibits.html"{% if page.active == "exhibits" %} class="active"{% endif %}>exhibits</a>
  </div>
  <div class="info">
    <a href="/modeling.html"{% if page.active == "modeling" %} class="active"{% endif %}>modeling</a>
  </div>
  <br>
  <div class="cities">new york city</div>
  <div class="cities">paris</div>
</div>
<div class="bottom-right">
  <div class="mateo">
    <a href="/index.html">mateo antonio martinez</a>
  </div>
  <a href="/contact.html"{% if page.active == "contact" %} class="active"{% endif %}>contact</a>
  <a href="https://instagram.com/brownspud" target="_blank">instagram</a>
</div>
