<!-- _includes/footer.html -->

<div class="left-links">
  <div class="info">
    <a href="{{ "/photo.html" | relative_url }}"{% if page.active == "photo" %} class="active"{% endif %}>photo</a>
  </div>
  <div class="info">
    <a href="{{ "/exhibits.html" | relative_url }}"{% if page.active == "exhibits" %} class="active"{% endif %}>exhibits</a>
  </div>
  <div class="info">
    <a href="{{ "/modeling.html" | relative_url }}"{% if page.active == "modeling" %} class="active"{% endif %}>modeling</a>
  </div>
  <br>
  <div class="cities">new york city</div>
  <div class="cities">paris</div>
</div>

<div class="bottom-right">
  <div class="mateo">
    <a href="{{ "/index.html" | relative_url }}">mateo antonio martinez</a>
  </div>
  <a href="{{ "/contact.html" | relative_url }}"{% if page.active == "contact" %} class="active"{% endif %}>contact</a>
  <a href="https://instagram.com/brownspud" target="_blank">instagram</a>
</div>
